h2, h3, h4, h5{
  color: red;
  font-style: sans-serif;
}
#scoreBoard{
   border: 1px solid black;
}
th{
  border: 1px solid black;

}
td{
  border: 1px solid black;

}
li{
    list-style-type: square;
}
