h2, h3, h4, h5{
  color: red;
  font-style: sans-serif;
}
#scoreBoard{
   border: 1px solid black;
}
thead{
  color: blue;

}
tfoot{
  color: blue;
}
th{

  text-align: center;
  border: 1px solid black;

}
td{
  border: 1px solid black;
  text-align: center;

}
#teamRoster li{
    list-style-type: square;

}
.hyperLink{
  text-decoration: none;

}
.hyperLink:hover {
  background-color: lightgreen;
}
blockquote{
  background-color: black;
  color: white;
}
img{
  height: 100px;
  width: 200px;
  position: absolute;
  opacity: .1;

}
li{
  list-style: none;
}
